:root {
    --Bla0: 69, 64, 76;
    --Bla1: 33, 29, 38;
    --Bla2: 0, 0, 0;

    --Whi0: 251, 251, 251;
    --Whi1: 173, 176, 181;
    --Whi2: 125, 129, 136;
    --Whi3: 81, 91, 97;

    --Red0: 255, 175, 175;
    --Red1: 216, 107, 107;
    --Red2: 177, 54, 54;
    --Red3: 138, 16, 16;

    --Ora0: 255, 202, 155;
    --Ora1: 248, 52, 81;
    --Ora2: 179, 102, 40;
    --Ora3: 141, 64, 4;

    --Yel0: 252, 244, 163;
    --Yel1: 217, 199, 94;
    --Yel2: 182, 154, 39;
    --Yel3: 147, 110, 0;

    --Gre0: 224, 247, 230;
    --Gre1: 165, 231, 182;
    --Gre2: 83, 160 ,102;
    --Gre3: 70, 99, 77;

    --Blu0: 212, 210, 255;
    --Blu1: 176, 172, 253;
    --Blu2: 126, 123, 197;
    --Blu3: 81, 79, 132;

    --Pur0: 221, 193, 255;
    --Pur1: 184, 130, 251;
    --Pur2: 146, 107, 189;
    --Pur3: 104, 76, 132;

    --Pin0: 255, 217, 253;
    --Pin1: 242, 179, 238;
    --Pin2: 173, 129, 169;
    --Pin3: 103, 78, 101;
}

.Colour_Bla0, .Colour_Bla0 p { color: rgb(var(--Bla0)); }
.Colour_Bla1, .Colour_Bla1 p { color: rgb(var(--Bla1)); }
.Colour_Bla2, .Colour_Bla2 p { color: rgb(var(--Bla2)); }

.Colour_Whi0, .Colour_Whi0 p { color: rgb(var(--Whi0)); }
.Colour_Whi1, .Colour_Whi1 p { color: rgb(var(--Whi1)); }
.Colour_Whi2, .Colour_Whi2 p { color: rgb(var(--Whi2)); }
.Colour_Whi3, .Colour_Whi3 p { color: rgb(var(--Whi3)); }

.Colour_Red0, .Colour_Red0 p { color: rgb(var(--Red0)); }
.Colour_Red1, .Colour_Red1 p { color: rgb(var(--Red1)); }
.Colour_Red2, .Colour_Red2 p { color: rgb(var(--Red2)); }
.Colour_Red3, .Colour_Red3 p { color: rgb(var(--Red3)); }

.Colour_Ora0, .Colour_Ora0 p { color: rgb(var(--Ora0)); }
.Colour_Ora1, .Colour_Ora1 p { color: rgb(var(--Ora1)); }
.Colour_Ora2, .Colour_Ora2 p { color: rgb(var(--Ora2)); }
.Colour_Ora3, .Colour_Ora3 p { color: rgb(var(--Ora3)); }

.Colour_Yel0, .Colour_Yel0 p { color: rgb(var(--Yel0)); }
.Colour_Yel1, .Colour_Yel1 p { color: rgb(var(--Yel1)); }
.Colour_Yel2, .Colour_Yel2 p { color: rgb(var(--Yel2)); }
.Colour_Yel3, .Colour_Yel3 p { color: rgb(var(--Yel3)); }

.Colour_Gre0, .Colour_Gre0 p { color: rgb(var(--Gre0)); }
.Colour_Gre1, .Colour_Gre1 p { color: rgb(var(--Gre1)); }
.Colour_Gre2, .Colour_Gre2 p { color: rgb(var(--Gre2)); }
.Colour_Gre3, .Colour_Gre3 p { color: rgb(var(--Gre3)); }

.Colour_Blu0, .Colour_Blu0 p { color: rgb(var(--Blu0)); }
.Colour_Blu1, .Colour_Blu1 p { color: rgb(var(--Blu1)); }
.Colour_Blu2, .Colour_Blu2 p { color: rgb(var(--Blu2)); }
.Colour_Blu3, .Colour_Blu3 p { color: rgb(var(--Blu3)); }

.Colour_Pur0, .Colour_Pur0 p { color: rgb(var(--Pur0)); }
.Colour_Pur1, .Colour_Pur1 p { color: rgb(var(--Pur1)); }
.Colour_Pur2, .Colour_Pur2 p { color: rgb(var(--Pur2)); }
.Colour_Pur3, .Colour_Pur3 p { color: rgb(var(--Pur3)); }

.Colour_Pin0, .Colour_Pin0 p { color: rgb(var(--Pin0)); }
.Colour_Pin1, .Colour_Pin1 p { color: rgb(var(--Pin1)); }
.Colour_Pin2, .Colour_Pin2 p { color: rgb(var(--Pin2)); }
.Colour_Pin3, .Colour_Pin3 p { color: rgb(var(--Pin3)); }

.Underlined {
    text-decoration: underline 2px; 
    text-underline-offset: 4px;
}

.Throughlined { text-decoration: line-through 2px; }

.Overlined { 
    text-decoration: underline 2px; 
    text-underline-offset: -17px;
}

.Wavy { text-decoration-style: wavy; }

@font-face {
    font-family: SrhFont;
    src: url(AsepriteSrh.ttf);
}

/*ISSUE CHECKER

main {
    border: solid, red, 2px;
}
header, nav, section, article, footer, aside {
    border: solid, yellow, 2px;
}
figure, details, mark, summary, time {
    border: solid, lime, 2px;
}
img, map, ul, table {
    border: solid, cyan, 2px;
}
h1, h2, h3, h4, h5, h6, p, li, figcaption, th, td {
    border: solid, magenta, 2px;
}*/

* {
    font-family: SrhFont;
}

body {
    background-color: rgb(var(--Bla1));
    font-family: SrhFont;
    min-height: 98vh;
}

.Bordered {
    border-style:solid;
    border-radius: 20px;
    border-width: 4px;
    border-color:rgb(var(--Pink));
}

.Title {
    color:rgb(var(--White));
    font-size: 50px;
    text-shadow: 0 0 20px rgb(var(--Pink));
    padding-top: 20px;
    padding-left: 10px;
    font-variation-settings: "slnt" 0, "wght" 600;
}

h1 {
    text-decoration: underline;
    text-underline-offset: 8px;
    color:rgb(var(--Pur1));
    font-variation-settings: "slnt" 0, "wght" 400;
}

h2 {
    text-decoration: underline;
    text-underline-offset: 4px;
    color:rgb(var(--Pur0));
    font-variation-settings: "slnt" 0, "wght" 200;
}

h3 {
    text-decoration: underline;
    text-underline-offset: 4px;
    color:rgb(var(--Blu0));
    font-variation-settings: "slnt" 0, "wght" 100;
}

nav {
    width: 98vw;
    display: flex;
    flex-wrap: wrap;
}

nav a {
    float: left;
    padding: 20px;
    color: rgb(var(--Whi0));
    font-variation-settings: "slnt" 0, "wght" 600;
    text-decoration: none;
    font-size: 20px;
    min-width: fit-content;
    width: 10%;
    transition: color 750ms, background-color 1s, font-size 750ms, border 1s;
    height: auto;
    background-color: rgb(var(--Pur3));
    border: solid rgb(var(--Pur1)) 4px;
    margin-right: 50px;
    text-align: center;
}

nav a:hover {
    transition: color 750ms, background-color 1s, font-size 750ms, font-variation-settings 750ms, border 1s;
    color: rgb(var(--Whi0));    
    background-color: rgb(var(--Pur1));
    border: solid rgb(var(--Pur3)) 4px;
    font-variation-settings: "slnt" 100, "wght" 700;
    font-size: 22px;
}

a {
    color:rgb(var(--Blu0));
    text-decoration: underline 2px;
    text-underline-offset: 4px;
}

p, li, label {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(var(--Whi0));
}

::placeholder {
    font-style: italic;
}

.Hidden {
    color: rgb(var(--White));
    text-decoration: none;
}

main {
    padding: 20px;
}

.active {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-underline-offset: 5px;
    text-decoration-skip-ink: none;
}

button {
    background-color: rgb(var(--Purple));
    border: solid rgb(var(--Pink)) 5px;
    padding: 10px 12px;
    display: inline-block;
    width: fit-content;
    height: min-content;
    transition: color 333ms, background-color 500ms, font-size 333ms;
    font-variation-settings: "slnt" 0, "wght" 600;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: rgb(var(--DWhite));
}

button {
    transition: color 333ms, background-color 500ms, font-size 333ms;
    background-color: rgb(var(--DWhite));
    color: rgb(var(--Purple));
    font-size: 16px;
    color: rgb(var(--Purple));
}

span {
    width: fit-content;
}

td {
    border: 3px solid rgb(var(--Pin1));    
    background-color: rgb(var(--Pin3));
    color: rgb(var(--Whi0));
    text-align: center;
    padding: 8px;
}

th {
    border: 3px solid rgb(var(--Pur0));    
    background-color: rgb(var(--Pur3));
    color: rgb(var(--Whi0));
    text-align: center;
    padding: 8px;
}